@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@300&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: black;
    overflow: hidden;
}


/* Home page styling */

.home-div {
    margin-left: 30%;
    margin-right: 20%;
    margin-top: 10%;
    background-color: white;
    border: 5px solid grey;
    border-radius: 20%;
    position: fixed;
    z-index: 2;
    padding: 5%;
}

.g-name-div {
    text-align: center;
    padding-top: 10%;
    padding-bottom: 10%;
}

.g-name{
    font-size: 70px;
    font-family: 'Londrina Solid';
    color: rgb(228, 132, 7);
}

.button-1 {
    background-color: blue;
    margin-top: 70%;
    border-radius: 20%;
}

 .button-1 span{  
    text-decoration: none;
    color: white;
    font-size: xx-large;
    font-family: 'Londrina Solid';
}

#message {
    font-family: 'Londrina Solid';
    font-size: xx-large;
    color: royalblue;
}

/*game page styling*/

#score {
    color: white;
    position: fixed;
    margin-left: 10px;
    margin-top: 10px;
    user-select: none;
}

#score span{
    font-family: 'Londrina Solid';
}

.game-div{
    margin-top: 12%;
}

.start-button{
    background-color: rgb(228, 132, 7);
    margin-top: 5%;
    border-radius: 20%;
    font-size: xx-large;
    font-family: 'Londrina Solid';
    color: white;
    padding: 5% 20%; 
}

.game-div span {
    font-family: 'Londrina Solid';
    font-size: xx-large;
    color: royalblue;
}



@media screen and (max-width: 1125px){
   .home-div{
       margin-top: 20%;
       margin-bottom: 33%;
       margin-left: 25%;
   }
}

@media screen and (max-width: 767px){
   .home-div{
        margin-top: 40%;
        
   }

   #message{
       display: none;
   }

   .g-name {
       font-size: 50px;
   }

   .g-name-div {
       padding-bottom: 0;
       margin-bottom: 0;
   }
}